* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#banner {
    /* width: 1200px; */
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    padding: 0;
}

#banner ul.banner-img {
    position: absolute;
    left: 0;
}

#banner ul.banner-img:after {
    content: ""; 
    height: 0; 
    line-height: 0; 
    display: block; 
    visibility: hidden; 
    clear: both ;
    zoom: 1;
}

#banner>ul.banner-img>li {
    float: left;
}

#banner>ul>li>a>img {
    width: 100%;
}

/*方向导航按钮*/

#banner>a {
    width: 60px;
    height: 60px;
    opacity: 0.2;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#banner>a:hover {
    opacity: 1;
}

#banner>a.ui-left {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
    background: url(../img/left.png) no-repeat;
    background-size: cover;
}

#banner>a.ui-right {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 0;
    background: url(../img/right.png) no-repeat;
    background-size: cover;
}

/*导航小圆点*/

#banner ul.ui-pages-link {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 124px;
}

#banner ul.ui-pages-link>li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 8px;
    background: #fff;
    border-radius: 8px;
}

#banner ul.ui-pages-link>li:hover,
#banner ul.ui-pages-link>li.hover {
    background: #5c677e;
    cursor: pointer;
    width: 60px;
}

/* info */

.info {
    /* height: 260px; */
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #d1d1d1;
}

.info .item {
    padding: 0;
}

.info .item:nth-child(1) .icon {
    background: url("../img/分院首页_03.png") center center no-repeat;
    background-size: 60%;
}

.info .item:nth-child(2) .icon {
    background: url("../img/分院首页_05.png") center center no-repeat;
    background-size: 60%;
}

.info .item:nth-child(3) .icon {
    background: url("../img/分院首页_07.png") center center no-repeat;
    background-size: 60%;
}

.info .item:nth-child(4) .icon {
    background: url("../img/分院首页_09.png") center center no-repeat;
    background-size: 60%;
}

.info .item:nth-child(5) .icon {
    background: url("../img/分院首页_11.png") center center no-repeat;
    background-size: 60%;
}

.info .item:nth-child(6) .icon {
    background: url("../img/分院首页_13.png") center center no-repeat;
    background-size: 60%;
}

.info .item .icon {
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
}

/* 案例分析 */

.list {
    text-align: center;
    margin-top: 110px;
}

.list p {
    font-size: 12px;
    position: relative;
    padding: 7px;
}

.list p:after {
    content: "";
    width: 70px;
    height: 2px;
    background: #375e81;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
}

.list .type div span {
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #375181;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.list .type div span.hover,
.list .type div span:hover {
    background: #375181;
    color: #fff;
}

.anli {
    margin-top: 30px;
}

.anli img {
    width: 100%;
}
.anli li{
    position: relative;
    margin-bottom: 20px;
}
.anli li:hover:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    background:  url(../img/cha.png) center no-repeat;
    background-color: rgba(33, 33, 33, 0.3);
}